---
import '../styles/new-blog-list.css';
import TopBar from '../components/topbar.astro';
import Layout from '../layouts/MainLayout.astro';
const allPosts = await Astro.glob('./posts/*.md');
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft)
nonDraftPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
---

<Layout title="Posts">
    <!-- Navbar -->
    <TopBar/>
    <!-- Main Content -->
    <main>
        <section>
            <div class="container">
                <div class="content">

                <ul class="blog__list">
                    {nonDraftPosts.map((post) => 
                    <li>
                        <a href={post.url}>
                    <div class="blog__item">
                        <div>
                        <h2>
                            {post.frontmatter.title}
                        </h2>
                        <h3>
                            Date: {post.frontmatter.date}
                        </h3>
                        <h4>
                            Author: {post.frontmatter.author}
                        </h4>
                        <p>
                            {post.frontmatter.description}
                            </p>
                        </div>
                        <div>
                            <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt}>
                        </div>
                    </a>
                    </li>
                    </div>
                    )}
                </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/app.js"></script>
</Layout>
