---
import '../styles/new-blog-list.css';
import TopBar from '../components/topbar.astro';
const allPosts = await Astro.glob('./posts/*.md');
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft)
nonDraftPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph Data -->
    <meta name="og:site_name" content="Joshua Randall">
    <meta property="og:title" content="Joshua Randall - Blogs">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/preview.png">
    <meta property="og:url" content="https://joshrandall.net">
    <meta property="og:description" content="Main website for Joshua Randall">
    <!-- <meta name="theme-color" content="#77DD77"> -->

    <!-- Stylesheet and Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
	
    <!-- Mastodon Verification-->
    <a rel="me" href="https://hachyderm.io/@pursuit"></a>
    <a rel="me" href="https://mastodon.world/@pursuit"></a>

    <!-- FontAwesome Javascript Link -->
    <script src="https://kit.fontawesome.com/61a8afa681.js" crossorigin="anonymous"></script>
    <title>Josh Randall - Blogs</title>
</head>
<body>
    <!-- Navbar -->
    <TopBar/>
    <!-- Main Content -->
    <main>
        <section>
            <div class="main__content">
                <ul class="blog__list">
                    {nonDraftPosts.map((post) => 
                    <li>
                        <a href={post.url}>
                    <div class="blog__item">
                        <div>
                        <h2>
                            {post.frontmatter.title}
                        </h2>
                        <h3>
                            Date: {post.frontmatter.date}
                        </h3>
                        <h4>
                            Author: {post.frontmatter.author}
                        </h4>
                        <p>
                            {post.frontmatter.description}
                            </p>
                        </div>
                        <div>
                            <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt}>
                        </div>
                    </a>
                    </li>
                    </div>
                    <hr>
                    )}
                </ul>
            </div>
        </div>
    </div>
    <script src="../scripts/app.js"></script>
</body>
</html>
