---
import '../styles/index.css';
import Layout from '../layouts/MainLayout.astro';
export async function getLatestProject() {
    const allPosts = await Astro.glob('./projects/*.md');
    const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft && !post.frontmatter.unlisted)
    nonDraftPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
    return nonDraftPosts[0];
}
const latestProject = await getLatestProject();
export async function getLatestPost() {
    const allPosts = await Astro.glob('./posts/*.md');
    const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft && !post.frontmatter.unlisted)
    nonDraftPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
    return nonDraftPosts[0];
}
const latestPost = await getLatestPost();
const currentPath = Astro.url.pathname;
import { tools } from '../maps/tools.json';
---
<Layout title="Home" currentPath={currentPath}>
    <!-- Mastodon Verification-->
    <link rel="me" href="https://hachyderm.io/@pursuit"></link>
    <!--<link rel="me" href="https://allthingstech.social/@josh"></link>
    <link rel="me" href="https://urusai.social/@josh"></link> -->
    <link rel="me" href="https://emich.social/@jranda10"></link>
    <link rel="me" href="https://social.joshrandall.net/@josh"></link>
    <!-- Main Content -->
    <!-- <div class="warning-banner"><h2>JRH is currently in a downtime period from August 22nd until August 24th-25th. <a class=link href="/posts/jrh-downtime"> More information here.</a></h2></div> -->
        <section id="main-section" class="background main-background-filter">
            <div class="non-blurred container">
                <div class="content">
                <h1 id="main_title">Joshua Randall</h1>
                <h2 id="main_subtitle"></h2>
                <ul class="main_links">
                    <li><a href="https://github.com/joshrandall8478" class="fa-brands fa-github"></a></li>
                    <li><a href="https://gitlab.joshrandall.net/josh" class="fa-brands fa-gitlab"></a></li>
                    <!-- <li><a href="https://www.youtube.com/channel/UCzrgSiEhhs4tcPaZobybY4A" class="fa-brands fa-youtube"></a></li> -->
                    <li><a href="https://www.instagram.com/joshrandall8478/" class="fa-brands fa-instagram"></a></li>
                    <!-- <li><a rel="me" href="https://hachyderm.io/@pursuit" class="fa-brands fa-mastodon"></a></li> -->
                    <!-- <li><a href="https://threads.net/joshrandall8478" class="fa-brands fa-threads"></a></li> -->
                    <li><a href="mailto:contact@joshrandall.net" class="fa-solid fa-envelope "></a></li>
                    <!-- <li><a class="fa-brands fa-discord"></a></li> -->
                </ul>
                <!-- <a id="main_button" href="/now">New "now" page</a> -->
                <!-- <p id="main__paragraph">Site under construction, check back later ;)</p> -->
                <p id="main_paragraph"><i class="fa-solid fa-angle-down"></i> Scroll for more <i class="fa-solid fa-angle-down"></i></p>
            </div>
            
        </section>
        <!-- <hr> -->
        <section id="latest-post" class="next_section align_left" >
            <img class="section_image" src={latestPost.frontmatter.image.url} alt="Latest Post Image"/>
            <div class="content">
                <h2>Latest Post</h2>
                <h3>{latestPost.frontmatter.title}</h3>
                <h4>Date: {latestPost.frontmatter.date}</h4>
                <h4>Author: {latestPost.frontmatter.author}</h4>
                <p>{latestPost.frontmatter.description}</p>
                <br>
                <a class="button" href={latestPost.url}> Click here to learn more</a>
            </div>
                
    </section>
        <hr>
        <section id="latest-project" class="next_section align_right">
            <img class="section_image" src={latestProject.frontmatter.image.url} alt="Latest Project Image"/>
                <div class="content">
                    <h2>Latest Project</h2>
                    <h3>{latestProject.frontmatter.title}</h3>
                    <h4>Date: {latestProject.frontmatter.date}</h4>
                    <p>{latestProject.frontmatter.subtitle}</p>
                    {latestProject.frontmatter.tools.length > 0 && (
                        <h4 class="tools">Languages/Tools: <br>
                        {latestProject.frontmatter.tools.map((tool) => (
                            <i class={tools[tool]}></i><span>&nbsp; </span>
                        ))}</h4>
                    )}
                    <br>
                    <a class="button" href={latestProject.url}> Click here to learn more</a>
                </div>
                    
        </section>
    
<!-- <hr> -->
<section id=contact class="contact_section background background-filter">
    <div class="content non-blurred">
        <h2></h2>
        <p>You can contact me by emailing me at <a class="link" href="mailto:contact@joshrandall.net">contact@joshrandall.net</a>.</p>
        <br>
        <p>Messaging me there will separate your contact request from my inbox,<br> allowing me to respond quick and appropriately.</p>
        <br>
        <a id="contact_button" class="button" href="mailto:contact@joshrandall.net"><i class="fa-solid fa-paper-plane"></i> Email me here</a>
    </div>
</section>
    <script src="../scripts/dynamic-topbar-background.js"></script>
    <script>
        let folder = "/assets/backgrounds/gif/";

        let limit = 83;
        const format = "gif";

        let mainRandom = Math.floor( Math.random() * limit ) + 1 ;
        let image = folder + mainRandom + '.' + format;
        document.getElementById("main-section").style.backgroundImage = "url('" + image + "')";

        // choose a DIFFERENT background for the contact section.
        // In the rare case that they are the same, this will ensure different backgrounds.
        let contactRandom = Math.floor( Math.random() * limit ) + 1 ;
        let randomsDifferent = false;
        while(!randomsDifferent){
            // Adding an or condition of limit <= 1 makes sure the loop does not crash the site
            if(mainRandom != contactRandom || limit <= 1){
                randomsDifferent = true;
            }
            else{
                console.log("Backgrounds are the same, shuffling again...");
                contactRandom = Math.floor( Math.random() * limit ) + 1 ;
            }
        }
        image = folder + contactRandom + '.' + format;
        document.getElementById("contact").style.backgroundImage = "url('" + image + "')";
    </script>
    <script>
        const arr = ["Full Time <a class=link href='https://archlinux.org/'>Arch Linux</a> User", "Computer Science Major", "Close to ditching <a class=link href='https://www.microsoft.com/en-us/windows'>Windows</a>", "<a class=link href='https://en.wikipedia.org/wiki/Linux'>Linux</a> Enthusiast", "<a class=link href='https://en.wikipedia.org/wiki/Apple_ecosystem'>Apple Ecosystem</a> Enthusiast", "Tried <a class=link href='https://www.gentoo.org/'>Gentoo</a> Once", "<a class=link href='https://translate.google.com/?sl=ja&tl=en&text=%E3%82%AB%E3%82%B8%E3%83%A5%E3%82%A2%E3%83%AB%E3%81%AA%E3%82%A2%E3%83%8B%E3%83%A1%E3%83%93%E3%83%A5%E3%83%BC%E3%82%A2&op=translate&hl=en'>カジュアルなアニメビューア</a>", "Custom PC Builder", "Casual <a class=link href='https://linuxhandbook.com/homelab/'>Homelabber</a>", "Uses <a class=link href='https://neovim.io/'>Neovim</a> Like Notepad", "<a class=link href='https://store.steampowered.com/app/1237970/Titanfall_2/'>Titanfall 2</a> Veteran", "Daily <a class=link href='https://en.wikipedia.org/wiki/Manual_transmission'>Stick Shift</a> Driver", "Web Developer", "Highly recommend <a class=link href='https://nextcloud.com/'>Nextcloud</a>", "Compile first, ask questions later."]

        const random = Math.floor( Math.random() * arr.length );
        document.getElementById("main_subtitle").innerHTML = arr[random];
        // document.getElementById("main_subtitle").innerHTML = arr[arr.length - 1];
    </script>
    <script>
        const arr = ["Get in contact.", "Have inquiries?", "Want to work together?", "Need help with something?", "Want to get in touch?", "Business idea?", "Project idea?"];
        const random = Math.floor( Math.random() * arr.length );
        document.getElementById("contact").getElementsByTagName("h2")[0].innerHTML = arr[random];
    </script>

    <script>
const hr = document.querySelectorAll('hr');
// Create the observer, same as before:
const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
    if (entry.isIntersecting) {
        hr.forEach((element) => {
            element.classList.add('active');
        })
        return;
    }
    });
});

observer.observe(document.querySelector('hr'));
    </script>
</Layout>