---
import '../styles/index.css';
import Layout from '../layouts/MainLayout.astro';
export async function getLatestProject() {
    const allPosts = await Astro.glob('./projects/*.md');
    const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft)
    nonDraftPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
    return nonDraftPosts[0];
}
const latestProject = await getLatestProject();
export async function getLatestPost() {
    const allPosts = await Astro.glob('./posts/*.md');
    const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft)
    nonDraftPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
    return nonDraftPosts[0];
}
const latestPost = await getLatestPost();
const currentPath = Astro.url.pathname;
---
<Layout title="Main" currentPath={currentPath}>
    <!-- Mastodon Verification-->
    <link rel="me" href="https://hachyderm.io/@pursuit"></link>
    <link rel="me" href="https://allthingstech.social/@josh"></link>
    <link rel="me" href="https://urusai.social/@josh"></link>
    <!-- Main Content -->
    <main>
        <section id="main-section" class="background main-background-filter">
            <div class="non-blurred container">
                <div class="content">
                <h1 id="main_title">Joshua Randall</h1>
                <h2 id="main_subtitle">Computer Science Major</h2>
                <ul class="main_links">
                    <li><a href="https://github.com/joshrandall8478" class="fa-brands fa-github"></a></li>
                    <!-- <li><a href="https://www.youtube.com/channel/UCzrgSiEhhs4tcPaZobybY4A" class="fa-brands fa-youtube"></a></li> -->
                    <li><a href="https://www.instagram.com/joshrandall8478/" class="fa-brands fa-instagram"></a></li>
                    <li><a rel="me" href="https://hachyderm.io/@pursuit" class="fa-brands fa-mastodon"></a></li>
                    <!-- <li><a class="fa-brands fa-discord"></a></li> -->
                </ul>
                <a id="main_button" href="/projects/hyprdots-fork"><img class=emote src="https://cdn0.iconfinder.com/data/icons/flat-round-system/512/archlinux-512.png"> Hyprdots Fork</a>
                <!-- <p id="main__paragraph">Site under construction, check back later ;)</p> -->
                <p id="main_paragraph"><i class="fa-solid fa-angle-down"></i> Scroll for more <i class="fa-solid fa-angle-down"></i></p>
            </div>
            
        </section>
        <hr>
        <section class="next_section align_left">
            <img class="section_image" src={latestProject.frontmatter.image.url} alt="Latest Project Image"/>
                <div class="content">
                    <h2>Latest Project</h2>
                    <h3>{latestProject.frontmatter.title}</h3>
                    <h4>Date: {latestProject.frontmatter.date}</h4>
                    <p>{latestProject.frontmatter.subtitle}</p>
                    <br>
                    <a class="button" href={latestProject.url}> Click here to learn more</a>
                </div>
                    
        </section>
    <hr>
    <section class="next_section align_right" >
        <img class="section_image" src={latestPost.frontmatter.image.url} alt="Latest Post Image"/>
        <div class="content">
            <h2>Latest Post</h2>
            <h3>{latestPost.frontmatter.title}</h3>
            <h4>Date: {latestPost.frontmatter.date}</h4>
            <h4>Author: {latestPost.frontmatter.author}</h4>
            <p>{latestPost.frontmatter.description}</p>
            <br>
            <a class="button" href={latestPost.url}> Click here to learn more</a>
        </div>
            
</section>
    </main>
    <script>
        let folder = "/assets/backgrounds/gif/";
        // let gifLimit = 1;
        // let jpgLimit = 0;
        // let pngLimit = 0;
        // let webpLimit = 0;
        let limit = 40;
        let format = "gif";
        let loop = true;
        // while (loop){
        //     switch (Math.floor(Math.random() * 4)) {
        //         case 0:
        //             if (gifLimit == 0){
        //                 continue;
        //             }
        //             else{
        //                 loop = false;
        //             }
        //             folder += "gif/";
        //             limit = gifLimit;
        //             format = ".gif";
        //             break;
        //         case 1:
        //         if (jpgLimit == 0){
        //                 continue;
        //             }
        //             else{
        //                 loop = false;
        //             }
        //             folder += "jpg/";
        //             limit = jpgLimit;
        //             format = ".jpg"
        //             break;
        //         case 2:
        //         if (pngLimit == 0){
        //                 continue;
        //             }
        //             else{
        //                 loop = false;
        //             }
        //             folder += "png/";
        //             limit = pngLimit;
        //             format = ".png"
        //             break;
        //         case 3:
        //         if (webpLimit == 0){
        //                 continue;
        //             }
        //             else{
        //                 loop = false;
        //             }
        //             folder += "webp/";
        //             limit = webpLimit;
        //             format = ".webp"
        //             break;
        //     }
        // }

        let random = Math.floor( Math.random() * limit ) + 1 ;
        let image = folder + random + '.' + format;
        document.getElementById("main-section").style.backgroundImage = "url('" + image + "')";
    </script>
    <!-- <script>
const hr = document.querySelectorAll('hr');
// Create the observer, same as before:
const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
    if (entry.isIntersecting) {
        hr.forEach((element) => {
            element.classList.add('active');
        })
        return;
    }
    });
});

observer.observe(document.querySelector('.section_image'));
    </script> -->
</Layout>